.attributes {
    max-width: 38rem;

    .attributes-mental,
    .attributes-physical {
        display: flex;

        > div {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 20%;
            border-style: solid;
            border-width: thin;
            border-color: lightslategrey;
            padding: 2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--background-color-darker);

            .attribute-abbr {
                --circle-diameter: 2rem;

                border-style: solid;
                border-radius: 50%;
                border-width: medium;
                width: var(--circle-diameter);
                height: var(--circle-diameter);
                line-height: var(--circle-diameter);
                padding: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    font-size: larger;
                }
            }

            .attribute-value {
                font-size: x-large;
                padding: 10px;
            }

            .attribute-value-field {
                width: 2rem;
                text-align: center;
            }

            .attribute-label {
                font-size: smaller;
                font-style: italic;
                word-break: break-word;
                text-align: center;
                flex-basis: 50%;
            }
        }
    }
}
