:host {
    padding: 1rem;
    display: block;
    min-width: 18rem;

    .headline {
        display: flex;
        justify-content: space-between;
    }

    .language {
        padding: 0.5rem 0;

        mat-radio-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem 0;
        }
    }

    .theme,
    .exportImport {
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .exportImport {
        ngx-dropzone {
            background-color: transparent;
            color: var(--text-color);
            height: auto;

            ngx-dropzone-label {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
